@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

html,
body,
#root
{
    font-family: 'Inter', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    overflow: hidden;
}

body {
  color: white;
}

a {
  pointer-events: all;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: inherit;
}

canvas
{
  touch-action: none;
}

.htmlScreen iframe
{
    width: 1024px;
    height: 670px;
    border: none;
    border-radius: 20px;
    background: transparent;
}

.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

.bg {
  background-image: url("./images/bg_mobile.png");
  background-position: center;
  background-size: cover;
}

/* For larger screens */
@media only screen and (min-width: 600px) {
  .bg {
    background-image: url("./images/bg_tablet.png");
  }
}

@media only screen and (min-width: 740px) {
  .bg {
    background-image: url("./images/bg.png");
  }
}

.notready {
  color: #606060;
}

.clicked {
  pointer-events: none;
  opacity: 0;
}

.welcome-text {
  font-family: 'Inter', sans-serif;
  text-align: center;
  opacity: 40%;
  font-weight: 200;
  color: #fcfcfc;
  position: fixed;
  left: 50%;
  bottom: 4%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  letter-spacing: 5px;
  text-transform: uppercase;
  pointer-events: none;
}

.cough-action {
  font-family: 'Inter', sans-serif;
  border-style: none;
  border-radius: 10px;
  padding: 0.5rem 1.5rem;
  text-align: center;
  font-size: xx-large;
  opacity: 60%;
  font-weight: 600;
  background: rgba(255, 166, 215, 0.6);
  color: white;
  position: fixed;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  bottom: 4.5rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
}

.play-button {
  font-family: 'Inter', sans-serif;
  border-style: none;
  border-radius: 10px;
  padding: 0.5rem 1.5rem;
  text-align: center;
  font-size: medium;
  opacity: 60%;
  font-weight: 600;
  color: #222222;
  position: fixed;
  left: 1rem;
  top: 1rem;
  margin: 1rem auto;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: translate(0, -5px);
  background: rgb(76, 112, 9);
  color: white;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.3));
}

button:active {
  transition: 0.01s;
  transform: translate(0, -3px);
  background: rgb(100, 0, 0);
}